.square {
  width: 50%;
  height: 160px;
  background-color: #43aa8b;
  position: relative;
  bottom: 40px;
  display: flex;
  justify-content: flex-start;
  border-radius: 10px;
  flex-direction: column;
}
.hello {
  color: white;
  padding: 25px;
}
.links {
  align-self: center;
}
